<h1>Empleado<small class="col text-right">{{heroe.nombre}}</small></h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button routerLink="/empleados" class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">

    <form (ngSubmit)="guardar( f )" #f="ngForm">

      <div class="form-group">
        <label>Firebase ID</label>
        <input type="text" class="form-control" disabled="disabled" [(ngModel)]="heroe.id" name="id"
          placeholder="Firebase ID">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>

      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="heroe.nombre" name="nombre"
          required>
      </div>

      <div class="form-group">
        <label>Telefono</label>
        <input type="text" class="form-control" placeholder="Telefono" [(ngModel)]="heroe.telefono" name="telefono"
          required>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email@" [(ngModel)]="heroe.email" name="email" required>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" placeholder="*******" [(ngModel)]="heroe.password" name="password" required>
      </div>

      <div class="form-group text-center">
        <label>Estado</label>
        <hr>

        <button *ngIf="heroe.activo" 
                 (click)="heroe.activo = false"
                 class="btn btn-outline-success w-50" 
                 type="button">
          <i class="fa fa-smile-wink"></i>
          Activo
        </button>

        <button *ngIf="!heroe.activo" 
                 (click)="heroe.activo = true" 
                 class="btn btn-outline-danger w-50" 
                 type="button">
          <i class="fa fa-dizzy"></i>
          Inactivo
        </button>
      </div>

      <hr>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>

    </form>

  </div>
</div>