.clock {
    display: grid;
    grid-gap: 1px 5px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    line-height: 1;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .clock p {
    color: #666;
    font-size: 2rem;
  }
  
  .hours {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .horas {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: baseline;
  }
  
  span {
    color: #777777;
  }
  
  .mishoras {
    font-weight: bold;
    font-size: 10rem;
  }
  
  .ampm {
    font-size: 1.4rem;
    font-weight: 200;
  }
  
  .segundos {
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    font-size: 100;
  }