<div class="clock">
  <div class="hours">
      <div class="horas">
          <span class="mishoras">
            {{hora}}:{{minutos}}:{{segundos}} <span style="font-size:0.4em;">{{ampm}}</span>
          </span>
      </div>
      <span style="font-size:1.5em;">{{dia}} - {{fecha}}</span>
  </div>
</div>
<div><h2 class="text-center m-b-50">Empleado</h2></div>

<div class="row">
  <div class="col"><button class="login100-form-btn btn btn-block btn-primary btn-lg" type="button" (click)="llegada()">LLegada</button></div>
  <div class="col"><button class="login100-form-btn btn btn-block btn-info btn-lg" type="button" (click)="salida()">Salida</button></div>
</div>
<div class="row" style="margin-top:5%;">
    <div routerLink="/login" class="col-12"><button class="login100-form-btn btn btn-block btn-outline-success btn-lg" type="button" (click)="llegada()">Entrar</button></div>
    <div class="col-12" style="margin-top:1%;"><button class="login100-form-btn btn btn-block btn-outline-danger btn-lg" type="button" (click)="llegada()">Salir</button></div>
  </div>


