<!--<h3 class="text-center">Login</h3>
  <div class="row justify-content-center align-items-center">
    <form class="col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"
          aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>-->


<h1 class="text-center">Login</h1>
<hr>

<div class="row animated fadeIn faster col-md-6">
  <div class="col">

    <form (ngSubmit)="guardar( f )" #f="ngForm">

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" placeholder="*******" [(ngModel)]="password" name="password"
          required>
      </div>

      <hr>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          Login
        </button>
      </div>

    </form>

  </div>
</div>