<h1>Listado de empleados</h1>
<hr>

<div class="row">
  <div class="col text-right">
    <button routerLink="/heroe/nuevo" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar</button>
  </div>
</div>

<table *ngIf="!cargando && empleados.length > 0" class="table mt-3 animated fadeIn faster">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">Email</th>
      <th scope="col">Estado</th>
      <th scope="col">Tools</th>
      <th scope="col">Historial</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.telefono}}</td>
      <td>{{empleado.email}}</td>
      <div *ngIf="empleado.activo === true">
        <td style="color: green">activo</td>
      </div>
      <div *ngIf="empleado.activo === false">
        <td style="color: red">inactivo</td>
      </div>

      <td>
        <button class="btn btn-info mr-1" [routerLink]="['/heroe', empleado.id]">
          <i class="fa fa-pen"></i>
        </button>
        <button class="btn btn-danger" (click)="eliminarEmpleado(empleado,i)">
          <i class="fa fa-trash"></i>
        </button>
      </td>

      <td>
        <button (click)="historialEmpleado()"
                class="btn btn-success mr-1">
          <i class="fa fa-history"></i>
        </button>
      </td>

    </tr>
  </tbody>
</table>

<div *ngIf="!cargando && empleados.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando...</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Epere por favor
  </p>
</div>